<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodHub</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/app.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo"><i class="fas fa-utensils"></i>foodHub</a>

      <div id="menu-bar" class="fas fa-bars"></div>

      <nav class="navbar">
        <a href="/home">home</a>
        <a href="/register">register</a>
        <a href="/login">login</a>
        <a href="/cart"><i class="fas fa-shopping-cart"></i> </a>
      </nav>
    </header>
    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="content">
        <h3>are you hungry?</h3>
        <p>
          foodHub is place where you can find any food with low price and high
          quality.customer setisfaction is our priority.
        </p>
        <a href="#" class="btn">order now</a>
      </div>

      <div class="image">
        <img src="images/step-2.jpg" alt="boy" />
      </div>
    </section>

    <!-- home section ends -->

    <!-- popular section starts  -->

    <section class="popular" id="popular">
      <h1 class="heading">most <span>popular</span> foods</h1>

      <div class="box-container">
        <div class="box">
          <span class="price">
            <i class="fa-solid fa-rupee-sign"></i>&#8377;90 - &#8377;150
          </span>
          <img src="images/p-1.jpg" alt="" />
          <h3>tasty burger</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
          <span class="price"> &#8377;50 - &#8377;200 </span>
          <img src="images/p-2.jpg" alt="" />
          <h3>tasty cakes</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Order now</a>
        </div>
        <div class="box">
          <span class="price"> &#8377;150 - &#8377;300 </span>
          <img src="/images/p-3.jpg" alt="" />
          <h3>tasty sweets</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <button href="#" class="btn">order now</button>
        </div>
        <div class="box">
          <span class="price"> &#8377;20 - &#8377;80 </span>
          <img src="images/p-4.jpg" alt="" />
          <h3>tasty cupcakes</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
          <span class="price"> &#8377;20 - &#8377;50 </span>
          <img src="images/p-5.jpg" alt="" />
          <h3>cold drinks</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
          <span class="price"> &#8377;20 - &#8377;150 </span>
          <img src="images/p-6.jpg" alt="" />
          <h3>cold ice-cream</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>
    </section>

    <section class="footer">
      <h1 class="credit">
        created by <span> Pradip prajapati </span> | all rights reserved!
      </h1>
    </section>

    <!-- scroll top button  -->
    <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

    <!-- loader  -->

    <!-- custom js file link  -->
    <script src="/js/app.js"></script>
  </body>
</html>
